/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.plastic/
.DS_Store
*.csproj
*.sln
.vs/
.vsconfig
ignore.conf
*.private.*
/Assets/Scenes/FactoryMap.unity*
*.blend1
